*{
    background-color: #012148;
}

.select-sim {
    width: 100%;
    height: 60px !important;
    line-height: 22px;
    vertical-align: middle;
    position: relative;
    background: white;
    border: 1px solid rgba(16, 53, 127, 0.66);
    overflow: hidden;
    padding: 7px;
    list-style: none;
    border-radius: 5px;
}
p {
    color: white;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #198AFD !important;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

td, th {
    padding: 0px 0px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    border: 2px solid #fff;    
    width: 33% !important;
}
th {    
    color: white;
    padding: 10px;
    border: 0px solid !important;
}

td {
    color: white;
    padding: 30px;
}

input.select-dropdown.dropdown-trigger {
    color: white;
}

th {
    color: #2896FF;
    font-size: 20px;
}

.titulo {
    color: white !important;
    font-size: 25px;
    text-align: center;
}

.subtitulo {
    color: #2896FF !important;
    font-size: 17px;
    text-align: center;
}

.valores{
    color: #fff;
    text-align: center;
}